
#path-search, .path-found {
    color: black;
}

.path-note-match {
    border-radius: 8px 0 8px 0;
    padding: 4px;
    color: black;
    margin: 4px;
    line-height: 2.3em;
    white-space: nowrap;
}

.path-note-match-meta {
    background: #9999ff;
}

.path-note-match-remote {
    background: #99ff99;
}

.path-note-match-merged {
    background: orange;
}

.path-note-match-path {
    background: #d5c3ac;
}

.q-query {
    font-style: italic;
}

.updating {
  opacity: 1;
  animation: updating 2s linear infinite;
}

.updating::before {
  content: '📚';
  font-style: normal;
}

@keyframes updating {
  50% {
    opacity: 0;
  }
}

.view-selected {
    background: white;
}